{% extends 'layout.html' %}

{% block title %}Aktywacja konta{% endblock %}

{% block css %}
{% endblock %}

{% block main_content %}
    <p>Witaj {{ user.name }}!</p>
    <p></p>
    <p>Dziękujemy za założenie konta w naszym serwisie. Konto zostało utworzone, ale wymaga aktywacji.</p>
    <p>Do aktywacji konta hasła należy nacisnąć na guzik:</p>
    <p class="button">
        <a href="http://127.0.0.1:8000/active-user/{{ user.active_code }}/">AKtywuj konto</a>
    </p>
    <p>Następnie należy się zalogować.</p>
    <p>Ta wiadomość została wygenerowana przez system, nie odpowiadaj na nią.</p>
    <p>Jeżeli guzik nie działa, wejdź na stronę:</p>
    <p><a class="default-link" href="http://127.0.0.1:8000/active-user/{{ user.active_code }}/">http://127.0.0.1:8000/active-user/{{ user.active_code }}/</a></p>
    <p></p>
    <p>Pozdrawiamy,</p>
    <p>WebFilm</p>
{% endblock %}
