.wrapper-login-page {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-login-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--color-text);
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem 2rem;
    margin: 0 0.5rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
}

.container-login-menu h2 {
    margin: 1rem;
}