header.mainHeader {
    width: 100%;
    height: 6rem;
    background-color: #0d1117;
}

.contentHeader {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 1rem 0.5rem;
    display: block;
}

.menu {
    display: inline-block;
    width: 1.5rem;
    margin: 1.5rem 0.5rem;
    vertical-align: initial;
}

.logo {
    display: inline-block;
    width: 4rem;
    margin: 0 0.5rem;
    vertical-align: initial;
}

.contentHeader > h1 {
    display: inline-block;
    font-weight: 900;
    padding: 1rem 0.5rem;
    vertical-align: bottom;
}
