@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --color-background: #1f2730;
    --color-background-secondary: #0d1117;
    --color-background-secondary-hover: #1e2228;
    --color-text: #ffffff;
    --color-main: #1755b3;
    --color-secondary: #57a3fa;
    --color-secondary-hover: #68b4fb;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
   font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
 }

.button {
    cursor: pointer;
    padding: 0.75rem 1rem;
    background-color: var(--color-main);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    white-space: nowrap;
    text-align: center;
}

.button:hover, .button:focus {
    background-color: var(--color-secondary);
}

a.link {
    color: var(--color-secondary);
}

a.link:hover {
    color: var(--color-secondary-hover);
}

.main-container {
    min-height: calc(100vh - 6rem - 3rem);
    padding: 1rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.content-container h2 {
    text-align: center;
}

.content-container p {
    margin: 1%;
}

.message {
    margin: 2%;
    text-align: center;
}

@media screen and (max-width: 600px){
    .content-container {
        width: 100%;
    }
}
