.input-field {
    width: 19rem;
    margin-bottom: 1rem;
}

.input-field div {
    margin-bottom: 0.1rem;
}

.input-field input {
    height: 2rem;
}

.label-info {
    margin: 0 0.5rem;
}

.short-button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
}

.link-request-reset-password {
    width: fit-content;
    margin: 1rem auto 0;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .input-field {
        width: 15rem;
    }
}
