.social-login-menu {
    width: 100%;
}

.social-login-button {
    width: 94%;
    margin: 3%;
    display: flex;
    align-items: center;
    white-space: normal;
}

.social-login-icon {
    background-color: var(--color-text);
    width: 2.5rem;
    margin: 0 6%;
    padding: 1.5%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
}

.name-option-login {
    width: 100%;
    text-align: center;
}

.login-google {
    background-color: #4285F4;
}

.login-google:hover, .login-google:focus {
    background-color: #5396F5;
}

.login-facebook {
    background-color: #4267B2;
}

.login-facebook:hover, .login-facebook:focus {
    background-color: #5378C3;
}
