
.menu-option-header {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-option-header:hover .expend-button {
  border: 0.2rem solid var(--color-secondary);
  border-left: 0;
  border-top: 0;
}

.submenu li {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.hidden-checkbox:checked ~ .expend-button {
    will-change: transform;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    transition: transform 0.2s ease-in-out;
}

.expend-button {
    will-change: transform;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
}
