.user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.user-avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
}

.container-settings-avatar {
    position: relative;
}

.clear-avatar {
    z-index: 3;
    display: none;
}

.settings-avatar {
    position: relative;
    cursor: pointer;
    display: block;
}

.options-avatar {
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

.settings-avatar:hover {
    opacity: 0.7;
}

.user-avatar:hover + .options-avatar, .options-avatar:hover {
    display: inherit;
}

.settings-avatar:hover + .clear-avatar, .clear-avatar:hover {
    display: inherit;
}

a.user-settings {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 1%;
}

.user-settings img {
    width: 3rem;
    margin-right: 3%;
}

.user-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-error .button {
    margin: 7% 0;
}

.user-identity {
    margin: 1%;
}

.user-identity p {
    text-align: center;
}
