.container-search {
    width: calc(100% - 1.5rem - 4rem - 14rem - 18rem);
    display: flex;
}

.search-input {
    width: calc(100% - 2rem);
    height: 2.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 2rem 0 0 2rem;
    -webkit-border-radius: 2rem 0 0 2rem;
    -moz-border-radius: 2rem 0 0 2rem;
}

.search-button {
    border-radius: 0 2rem 2rem 0;
    -webkit-border-radius: 0 2rem 2rem 0;
    -moz-border-radius: 0 2rem 2rem 0;
    padding: 0.5rem;
}

.zoom {
    width: 1.5rem;
}
